body {
    // font-family: Comic Sans MS;
    font-size: 32pt;
    text-align: center;
}

h4 {
    font-size: 36pt;
}

li {
    font-weight: normal;
}

body .slides section {
    background-color: rgba(0,0,0,0.8);
}

.slides section.photo {
    background-color: rgba(255, 255, 255, 0.95);
}

.slides section.photo.blank {
    background-color: rgba(0,0,0,0);
}

.label {
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: 36pt;
    color: black;
}

.slides section.title {
    background: none;

    // h1, h2, h3 {
    //     background: none;
    //     color: white;
    //     text-shadow: 4px 4px black, -4px -4px black, -4px 4px black, 4px -4px black;
    //     margin: 0;
    // }

    p, a {
        margin-top: 0.2em;
        color: #ffa;
        text-shadow: 2px 2px 2px black, -2px -2px 2px black, -2px 2px 2px black, 2px -2px 2px black;
    }
}

.slides section.reading-list {
    p {
        color: #ffa;
        i {
            color: white;
        }
    }
}
